html {
	background-color: #333333;
}
body {
	margin: 0px;
	background-color:#333333;
}
.navbar {
	list-style: none;
	margin: 0px 0px;
	padding: 10px 0px;
	position: fixed;
	z-index: 100;
	background-color: #333333;
	width:100%;
}
.navbar li {
	display: inline;
	padding: 10px 66.99px;
	overflow: hidden;
}
a.nav-item {
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	font-size: 12px;
}
.navbar li:hover {
	background-color: #f36222;
	color: black;
}
#active {
	background-color: #d87715;
}
.mainLandingImage {
	width: 100%;
	height: 550px;
	margin-top: 38px;
}
.mainLandingHeader {
	position: absolute;
	font-size: 50px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: "Impact";
}
.breakBar {
	width: 100%;
	height: 36px;
	background-color: orange;
}
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
Figure{
  width: 30%;
  height: 300px;
  overflow: hidden;
  position: relative;
  margin: 0px;
  text-align: center;
  background: center center;
  position: inline;
  margin-left: 12px;
  margin-right: 12px;
  display: inline-block;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
figcaption{
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
  text-align: center;
  font-weight: bold;
  width: 100%;
  height: 100%;
  opacity: 0;
  text-transform: uppercase;
}
figure img{
  -webkit-transition: all 0.5s linear;
          transition: all 0.5s linear;
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
}
figure:hover figcaption{
	background: rgba(255,255,255,0.6);
	opacity: 1;
	top: 0;
}
figure:hover img{
  -webkit-transform: scale3d(1.2, 1.2, 1);
          transform: scale3d(1.2, 1.2, 1);
}
#wrapper img {
    width: 100%;
    height: 100%;
}
#wrapper {
  text-align: center;
}
#wrapper p {
	font-size: 30px;
}
.leftBigSection {
	Width: 66.6%;
	color: white;
	text-align: center;
	padding-top: 2%;
	float: left;
	display: inline;
	clear: left;
	position: absolute;
}
.bigLeftSubtitle {
	margin-top: -2%;
}
.bigLeftText {
	margin: 4% 10%;
}
.bigLeftIMG {
	width: 85%;
}
.fullArticalWidthHR {
	width: 75%;
	float: center;
}
.sideSections {
	width: 29%;
	float: right;
	background-color: #666666;
	color: white;
	display: inline-block;
	margin-bottom: 3%;
	margin-right: 3%;
	overflow: hidden;
}
.roundPicture {
	border-radius: 50%;
	width: 40%;
	margin: 10% 31%;
}
.sideSectionHeader {
	margin: -5% 0%;
	text-align: center;
}
.sideSectionSubtitle {
	margin: 5% 0%;
	text-align: center;
}
.sideSectionText {
	margin: 5% 10%;
	text-align: center;
}
.goToButton {
	border-radius: 50px;
	font-size: 20px;
	cursor: pointer;
	margin: 5% 32%;
	margin-top: 0px;
}
.miniArticle {
	float: left;
	margin: 0% 3%;
	width: 28%;
	text-align: center;
	color: white;
}
.miniIMG {
	max-height: 100%;
	max-width: 100%;
}
.miniTitle {
	margin-bottom: 0%;
}
.miniSubtitle {
	margin-top: 0%;
}
.miniHR {
	width: 70%;
	float: center;
}
.footer {
	background-color: #f33622;
	height: 50px;
	width: 100%;
	bottom: 0px;
	position: fixed;
	z-index: -1;
}
.BigSection {
	width: 100%;
	color: white;
	text-align: center;
	padding-top: 2%;
	display: inline;
}
.bigVideo {
	width: 85%;
}